*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Pretendard';
    font-size: 16px;
}
.pul{
    font-family: "풀무원";
}
.banner{
    height: 250px;
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 50px;
}
main{
    width: 1200px;
    margin: 0 auto;
}
main h1{
    font-weight: 400;
    font-size: 30px;
    background: url(../img/sub_tit_line.gif) repeat-x 0 50% ;
    margin-bottom: 100px;
}
main span{
    background-color: #fff;
    padding-right: 20px;
}
main h2{
    font-size: 52px;
    text-align: center;
    padding: 0 70px;
    margin-bottom: 50px;
}
em{
    font-style: normal;
    color: #7eae4b;
}
.content{
    text-align: center;
    width: 630px;
    padding: 40px 90px 50px;
    margin: 0 auto;
    background-color: #f4f4f4;;
}
.content h3{
    font-size: 35px;
    margin-bottom: 25px;
}
main .content p:nth-of-type(1){
    margin-bottom: 25px;
}