*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
    font-weight: 400;
}
ul,li{
    list-style: none;
}
html{
    font-family: 'Pretendard';
    font-size: 20px;
}
.wrap{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
}
.wrap h1{
    font-size: 2rem;
    font-weight: 900;
    padding: 20px 592px;
    line-height: 100%;
    text-transform: uppercase;
}
.wrap h2{
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.wrap .banner{
    background: url(../img/cafe.jpg) no-repeat 50% 50% / cover;
    height: 441px;
    margin-bottom: 5rem;
}
ul h3{
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 1rem;
}
ul li{
    line-height: 100%;
    text-transform: uppercase;
    margin: .5rem 0;
}